@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');

@font-face {
    font-family: 'NaturallyWonderful-bold';
    src: url('/fonts/NaturallyWonderful-bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'NaturallyWonderful-heavy';
    src: url('/fonts/NaturallyWonderful-heavy.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('/fonts/SourceSansPro-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('/fonts/SourceSansPro-Semibold.otf') format('opentype');
  }
  
  :root {
    --font-NWB: 'NaturallyWonderful-bold', sans-serif;
    --font-NWH: 'NaturallyWonderful-heavy', sans-serif;
    --font-SSPR: 'SourceSansPro-Regular', sans-serif;
    --font-SSPS: 'SourceSansPro-Semibold', sans-serif;
    --font-Norican: 'Norican', sans-serif;
  }
  