/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */

@font-face {
  font-family: "Norican";
  src: url("/fonts/Norican-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "NaturallyWonderful-bold";
  src: url("/fonts/NaturallyWonderful-bold.otf") format("opentype");
}

@font-face {
  font-family: "NaturallyWonderful-heavy";
  src: url("/fonts/NaturallyWonderful-heavy.otf") format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("/fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SourceSansPro-Semibold";
  src: url("/fonts/SourceSansPro-Semibold.otf") format("opentype");
}

:root {
  --font-NWB: "NaturallyWonderful-bold", sans-serif;
  --font-NWH: "NaturallyWonderful-heavy", sans-serif;
  --font-SSPR: "SourceSansPro-Regular", sans-serif;
  --font-SSPS: "SourceSansPro-Semibold", sans-serif;
  --font-Norican: "Norican", sans-serif;
}

/* COLORS */

:root {
  --custom-background: #a9ceeb;
  --custom-foreground: #1b365d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --custom-background: #a9ceeb;
    --custom-foreground: #1b365d;
  }
}

body {
  color: var(--custom-foreground);
  background: var(--custom-background);

  padding-bottom: env(safe-area-inset-bottom);
}

.icon-scroll-container {
  -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.icon-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

@layer base {
  h1 {
    @apply text-h1 font-h1 leading-h1;
  }

  h2 {
    @apply text-h2 font-h2 leading-h2;
  }

  h3 {
    @apply text-h3 font-h3 leading-h3;
  }

  h4 {
    @apply text-h4 font-h4 leading-h4;
  }

  h5 {
    @apply text-h5 font-h5 leading-h5;
  }

  .script {
    @apply text-script font-script leading-script;
  }

  p,
  div,
  ul,
  li,
  a {
    @apply text-p font-p leading-p;
  }

  .p-mini {
    @apply text-pm font-pm leading-pm;
  }

  .p-large {
    @apply text-pl font-pl leading-pl;
  }

  .button-text {
    @apply text-b font-b leading-b;
  }

  a,
  .link {
    @apply text-system_blue underline;
  }

  .link-mini {
    @apply text-pm font-pm leading-pm text-system_blue underline;
  }

  .warning {
    @apply text-system_red italic;
  }

  .green-text {
    @apply text-main_green;
  }

  .no-scrolbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
